*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    width: 100%;
    height: 100%
    outline: 3px solid rgb(238, 255, 0);
}
header{
    width: 100%;
    height: 90vh;
    
}
.line{
    display: flex;
    /* outline: 3px solid rgb(60, 255, 0); */
    width: 100%;
}

main{
    width: 100%;
    height: 80vh;
    background-image: url(./images/asset\ 12.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    color: rgb(14, 104, 206);
    text-align: center;
}
.font{
    width: 100%;
    /* outline: 3px solid rgb(238, 255, 0);  */
    padding-top: 170px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
}
main p{
    text-align: center;
    margin-bottom: 18px;
}
main a{
    /* outline: 3px solid rgb(0, 68, 255); */
    width: 15%;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;  
    justify-content: center; 
    border-radius: 3px;
    background-color: red;
    margin: auto;
}
.all{
    width: 90%;
    /* outline: 3px solid rgb(255, 0, 149); */
    margin-top: 60px;
}
.move{
    /* outline: 3px solid rgb(255, 0, 149); */
    width: 100%;
    text-align: center;
    
}
.container2{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex ;
    gap: 50px;
    margin-top: 40px;
    /* outline: 3px solid rgb(60, 255, 0); */
}
.container2 .pix{
    width: 60%;
}
.container2 .pix img{
    width: 100%;
}
.cont{
    line-height: 20px;
    margin-top: 20px;
    font-family: 'Gill Sans'; 
    width: 40%;
}
.cont a{
    /* outline: 3px solid rgb(0, 68, 255); */
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}

.firstdiv{
    /* outline: 3px solid rgb(255, 0, 43); */
    width: 30%;
    display:flex ;
    margin-top: 25px;
    gap: 10px;
    margin-left: 30px;
    
}
.firstdiv h2{
    margin-top: 10px;
}
.straight{
    /* outline: 3px solid rgb(0, 255, 213); */
    width: 70%;
    
}
.straight ul{
    /* outline: 3px solid rgb(238, 255, 0); */
    display: flex;
    list-style: none;
    gap: 40px;
    margin-left: 240px;
    margin-top: 40px;
    font-size: larger;
}
.straight ul :nth-child(1){
    color:red ;
}
.liny{
    /* outline: 3px solid rgb(238, 255, 0); */
    width: 100%; 
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.liny h2{
    font-size: 30px;
}
.liny p{
    font-size: small;
    font-style: italic;
}
.line3{
   /* outline: 3px solid rgb(238, 255, 0); */
   display: flex;
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
   justify-content: space-between;
}
.main a{
    /* outline: 3px solid rgb(0, 68, 255); */
    width: 150px;
    text-align: center;
    display: block;
    margin-top: 40px;   
    margin-left: 600px;
    border-radius: 3px;
    background-color: red;
    padding-top: 15px;
}
.line3 > div .line-img{
    max-width: 365px;
    
}
.line3 > div .line-img img{
    width: 100%;
}
.container3{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom : 30px;
    color: white;
    /* outline: 2px solid red; */
    display: flex;
    background-image: url(./images/asset\ 2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}
.content{
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
}
.content h2{
    margin-bottom: 20px;
}
.content p{
    font-size: small;
    font-weight: 900;
}


@media screen and (max-width:1000px){
    
    header{
        width: 100%;
        height: 90vh;
        
    }
    .straight ul{
        display: none;
    }
    
.font{
    width: 100%;
    text-align: center;
    font-size: 20px;
}
main a{
   width: 50%;
}
.line3{
    flex-direction: column;
    width: 90%;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    justify-content: space-between;
    }
    .container2{
    flex-direction: column;
    }
    html,body{
        width: 100%;
        overflow-x: hidden;
        /* outline: 3px solid rgb(238, 255, 0); */
    }
    .container2{
        width: 100%;
        margin: 0;
        flex-direction: column;
        /* outline: 3px solid rgb(60, 255, 0); */
    }
    .container2 .pix{
        width: 100%;
    }
    .cont{
        width: 95%;
        margin: auto;
    }
    
    .container3{
    width: 90%;
    height: auto;
    flex-direction: column;
    }
     
    .content{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: unset;
    }
    .content h2{
    margin-bottom: unset;
    }
   .content p{
    font-size: small;
    font-weight: unset;
    }
}